.bg-dark {
  background-color: rgb(56, 56, 56);
}

.text-white {
  color: white;
}

.text-bold {
  font-weight: 600;
}

.custom-image {
  padding: 10px;
  width: calc(100% - 20px);
  border-radius: 20px;
}

.custom-buttons button,
.custom-buttons div {
  background-color: white;
  color: black;
  border-color: white;
}

.custom-buttons button:hover {
  background-color: lightcoral;
  color: white;
}
